# Virtual environment
.venv/

# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Tooling
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Editors / OS
.vscode/
.idea/
.DS_Store
.python-version


# TSV files
*.tsv